<div style="padding: 35px;color:white;margin:10;font-size:200%;text-align:center;display:fill;border-radius:10px;overflow:hidden;background-image: url(https://images.pexels.com/photos/7078619/pexels-photo-7078619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)"><b><span style='color:black'><strong>EABL STOCK PRICE PREDICTION </strong></span></b> </div>

### <b> <span style='color:#16C2D5'>|</span> Business Objectives</b>
1. Build a robust time series model leveraging market indicators to forecast future EABL stock prices. 
2. Investigate viability of investing in EABL stock prices. 
3. Build an anomally detection system to identify unusual or unexpected patterns in EABL stock prices.

### <b> <span style='color:#16C2D5'>|</span> Importing Libraries</b>

In [1]:
# Data Visualization libraries
import pandas as pd 
import numpy as np

#Visualization libraries
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline 

#Time series models
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.arima_model import ARIMA

# Machine leaning models 
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder

## <div style="padding: 20px;color:white;margin:10;font-size:90%;text-align:left;display:fill;border-radius:10px;overflow:hidden;background-image: url(https://w0.peakpx.com/wallpaper/957/661/HD-wallpaper-white-marble-white-stone-texture-marble-stone-background-white-stone.jpg)"><b><span style='color:black'>1. Data Understanding</span></b> </div>

In [3]:
df = pd.read_csv('MergedData/final_merge.csv')
df.head()

,Unnamed: 0,Date,Open,High,Low,Close,Average,Volume,Month,Year,Day,Annual Average Inflation,12-Month Inflation,Mean,Amount,Dividends per share,Earnings Per Share,Unemployment
0,0,1/31/2024,104.00,111.00,104.0,110.0,106.00,42000,1,2024,31,NaN,6.9,161.0,1.00,0.0,NaN,NaN
1,1,1/30/2024,105.00,105.00,101.0,104.0,104.00,15600,1,2024,30,NaN,6.9,161.0,1.00,0.0,NaN,NaN
2,2,1/29/2024,105.00,105.00,99.0,103.5,100.00,596100,1,2024,29,NaN,6.9,162.0,1.00,0.0,NaN,NaN
3,3,1/26/2024,116.25,116.25,100.0,100.0,104.50,60500,1,2024,26,NaN,6.9,162.0,1.00,0.0,NaN,NaN
4,4,1/25/2024,119.75,120.00,118.0,118.0,118.25,5700,1,2024,25,NaN,6.9,163.0,1.75,0.0,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4353 entries, 0 to 4352
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                4353 non-null   int64
 1   Date                      4353 non-null   object
 2   Open                      4353 non-null   float64
 3   High                      4353 non-null   float64
 4   Low                       4353 non-null   float64
 5   Close                     4353 non-null   float64
 6   Average                   4353 non-null   float64
 7   Volume                    4353 non-null   int64
 8   Month                     4353 non-null   int64
 9   Year                      4353 non-null   int64
 10  Day                       4353 non-null   int64
 11  Annual Average Inflation  4332 non-null   float64
 12  12-Month Inflation        4353 non-null   float64
 13  Mean                      4349 non-null   float64
 14  Amount                    4353 non-null   float64
 15  Dividends per share       4353 non-null   float64
 16  Earnings Per Share        4332 non-null   float64
 17  Unemployment              4332 non-null   float64
dtypes: float64(12), int64(5), object(1)
memory usage: 612.3+ KB

In [5]:
df.shape

(4353, 18)

In [6]:
#Convert the date column to datetime format.
df['Date'] = pd.to_datetime(df['Date'])