<div style="padding: 35px;color:white;margin:10;font-size:200%;text-align:center;display:fill;border-radius:10px;overflow:hidden;background-image: url(https://images.pexels.com/photos/7078619/pexels-photo-7078619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)"><b><span style='color:black'><strong>EABL STOCK PRICE PREDICTION </strong></span></b> </div>

### <b> <span style='color:#16C2D5'>|</span> Business Objectives</b>
1. Build a robust time series model leveraging market indicators to forecast future EABL stock prices. 
2. Investigate viability of investing in EABL stock prices. 
3. Build an anomally detection system to identify unusual or unexpected patterns in EABL stock prices.

### <b> <span style='color:#16C2D5'>|</span> Importing Libraries</b>

In [1]:
# Data Visualization libraries
import pandas as pd 
import numpy as np

#Visualization libraries
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline 

#Time series models
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.arima_model import ARIMA

# Machine leaning models 
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder

## <div style="padding: 20px;color:white;margin:10;font-size:90%;text-align:left;display:fill;border-radius:10px;overflow:hidden;background-image: url(https://w0.peakpx.com/wallpaper/957/661/HD-wallpaper-white-marble-white-stone-texture-marble-stone-background-white-stone.jpg)"><b><span style='color:black'> Data Understanding</span></b> </div>

In [15]:
# Read Stocks data 
data = pd.read_csv('Data/EABL-2006-2024_JAN_STOCKS.csv')
data.head()

        Date    Open    High    Low  Close  Average  Volume
0  1/31/2024  104.00  111.00  104.0  110.0   106.00   42000
1  1/30/2024  105.00  105.00  101.0  104.0   104.00   15600
2  1/29/2024  105.00  105.00   99.0  103.5   100.00  596100
3  1/26/2024  116.25  116.25  100.0  100.0   104.50   60500
4  1/25/2024  119.75  120.00  118.0  118.0   118.25    5700

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4319 entries, 0 to 4318
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     4319 non-null   object
 1   Open     4319 non-null   float64
 2   High     4319 non-null   float64
 3   Low      4319 non-null   float64
 4   Close    4319 non-null   float64
 5   Average  4319 non-null   float64
 6   Volume   4319 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 236.3+ KB

In [17]:
data.describe()

,Open,High,Low,Close,Average,Volume
count,4319.000000,4319.000000,4319.000000,4319.000000,4319.000000,4.319000e+03
mean,203.957513,206.961797,202.311125,204.684418,205.088562,2.415015e+05
std,59.289678,59.471967,58.546396,59.231241,59.292983,3.768558e+05
min,0.000000,98.000000,93.500000,96.500000,97.500000,0.000000e+00
25%,156.000000,158.250000,155.000000,156.000000,156.000000,2.785000e+04
50%,187.000000,190.000000,185.000000,188.000000,188.000000,1.122000e+05
75%,250.000000,250.500000,247.000000,250.000000,250.000000,3.055000e+05
max,425.000000,426.000000,416.000000,420.000000,424.000000,5.916300e+06

In [18]:
data.shape

(4319, 7)

## <div style="padding: 20px;color:white;margin:10;font-size:90%;text-align:left;display:fill;border-radius:10px;overflow:hidden;background-image: url(https://w0.peakpx.com/wallpaper/957/661/HD-wallpaper-white-marble-white-stone-texture-marble-stone-background-white-stone.jpg)"><b><span style='color:black'> 2. Data Cleaning and preparation</span></b> </div>

In [19]:
data_eda = data.copy()
data_eda

           Date    Open    High    Low  Close  Average  Volume
0     1/31/2024  104.00  111.00  104.0  110.0   106.00   42000
1     1/30/2024  105.00  105.00  101.0  104.0   104.00   15600
2     1/29/2024  105.00  105.00   99.0  103.5   100.00  596100
3     1/26/2024  116.25  116.25  100.0  100.0   104.50   60500
4     1/25/2024  119.75  120.00  118.0  118.0   118.25    5700
...         ...     ...     ...    ...    ...      ...     ...
4314  9/15/2006  141.00  142.00  140.0  141.0   141.00  226100
4315  9/14/2006  140.00  143.00  140.0  140.0   141.00  108500
4316  9/13/2006  141.00  144.00  140.0  142.0   141.00  190000
4317  9/12/2006  141.00  143.00  140.0  140.0   140.00  123900
4318  9/11/2006  135.00  144.00  135.0  143.0   140.00   30500

[4319 rows x 7 columns]

In [20]:
data_eda['Date'] = pd.to_datetime(data_eda['Date'])
data_eda['Volume'] = data_eda['Volume'].astype(int)

In [21]:
data_eda['Month'] = data_eda['Date'].dt.month
data_eda['Year'] = data_eda['Date'].dt.year 
data_eda['Day'] = data_eda['Date'].dt.day

In [22]:
data_eda.head()

        Date    Open    High    Low  Close  Average  Volume  Month  Year  Day
0 2024-01-31  104.00  111.00  104.0  110.0   106.00   42000      1  2024   31
1 2024-01-30  105.00  105.00  101.0  104.0   104.00   15600      1  2024   30
2 2024-01-29  105.00  105.00   99.0  103.5   100.00  596100      1  2024   29
3 2024-01-26  116.25  116.25  100.0  100.0   104.50   60500      1  2024   26
4 2024-01-25  119.75  120.00  118.0  118.0   118.25    5700      1  2024   25

### <b><span style='color:#16C2D5'>|</span> Read & Clean inflation data for merging the inflation rate to stock data</b>

In [23]:
df_inflation = pd.read_csv('Data\Inflation Rates.csv')
df_inflation.head()

   Year      Month  Annual Average Inflation  12-Month Inflation
0  2023   December                      7.67                6.63
1  2023   November                      7.87                6.80
2  2023    October                      8.10                6.92
3  2023  September                      8.32                6.78
4  2023     August                      8.52                6.73

In [24]:
df_inflation['Month'].astype(str)

0       December
1       November
2        October
3      September
4         August
         ...
224          May
225        April
226        March
227     February
228      January
Name: Month, Length: 229, dtype: object

In [25]:
months = {
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8,
    'September': 9,
    'October': 10,
    'November': 11,
    'December': 12
}
df_inflation['Month'] = df_inflation['Month'].map(months)

In [26]:
df_inflation.head()

   Year  Month  Annual Average Inflation  12-Month Inflation
0  2023     12                      7.67                6.63
1  2023     11                      7.87                6.80
2  2023     10                      8.10                6.92
3  2023      9                      8.32                6.78
4  2023      8                      8.52                6.73

In [27]:
#Merge the two dataframes using the 'Month' and 'Year' columns to have an inflation rate for each column.
df_merge = pd.merge(data_eda,df_inflation, on=['Month','Year'], how='left')

In [28]:
df_merge.to_csv("Stock&inflation.csv")

### <b><span style='color:#16C2D5'>|</span> Read & Clean Exchange Rates data for merging to the merged DataFrame above </b>

In [29]:
df_exchange = pd.read_csv('Data\Exchange-rates-CBK.csv')
df_exchange.head(10)

         Date   Currency      Mean       Buy      Sell
0    4/1/2024  US DOLLAR  157.3912  157.0000  157.7824
1    3/1/2024  US DOLLAR  157.3235  156.9529  157.6941
2    2/1/2024  US DOLLAR  156.9853  156.5000  157.4706
3  29/12/2023  US DOLLAR  156.4618  156.0118  156.9118
4  28/12/2023  US DOLLAR  156.0941  155.6588  156.5294
5  27/12/2023  US DOLLAR  155.4706  155.1029  155.8382
6  22/12/2023  US DOLLAR  155.0853  154.7294  155.4412
7  21/12/2023  US DOLLAR  154.6853  154.3529  155.0176
8  20/12/2023  US DOLLAR  154.3868  154.0441  154.7294
9  19/12/2023  US DOLLAR  154.1647  153.7676  154.5618

In [30]:
# Convert the date column to datetime format using the day-month-year.
df_exchange['Date'] = pd.to_datetime(df_exchange['Date'], format='%d/%m/%Y')

In [31]:
df_exchange['Month'] = data_eda['Date'].dt.month
df_exchange['Day'] = data_eda['Date'].dt.day

In [32]:
# Merge the mean exchange rates on the previous merge.
df_merge2 = pd.merge(df_merge, df_exchange[['Date','Mean']], on=['Date'], how='left')
df_merge2.to_csv("Stocks,Inflation&ExchangeRates.csv")

In [38]:
df_merge2.head()

,Date,Open,High,Low,Close,Average,Volume,Month,Year,Day,Annual Average Inflation,12-Month Inflation,Mean
0,2024-01-31,104.00,111.00,104.0,110.0,106.00,42000,1,2024,31,NaN,NaN,NaN
1,2024-01-30,105.00,105.00,101.0,104.0,104.00,15600,1,2024,30,NaN,NaN,NaN
2,2024-01-29,105.00,105.00,99.0,103.5,100.00,596100,1,2024,29,NaN,NaN,NaN
3,2024-01-26,116.25,116.25,100.0,100.0,104.50,60500,1,2024,26,NaN,NaN,NaN
4,2024-01-25,119.75,120.00,118.0,118.0,118.25,5700,1,2024,25,NaN,NaN,NaN

### <b><span style='color:#16C2D5'>|</span> Merge the dividends payments on the 2nd merged dataframe</b>

In [33]:
df_dividend = pd.read_csv("Data\Dividends-Payout.csv")
df_dividend.head(10)

          DIVIDENDS  Announced Book Closure     Payment    Amount
0  Interim Dividend  1/26/2024    2/16/2024   4/26/2024  KES 1.00
1    Final Dividend  7/28/2023    9/15/2023  10/27/2023  KES 1.75
2    Final Dividend  7/28/2023    9/14/2023  10/27/2023  KES 1.75
3  Interim Dividend  1/27/2023    2/16/2023   4/28/2023  KES 3.75
4    Final Dividend  7/28/2022    9/15/2022  10/30/2022  KES 7.25
5  Interim Dividend  1/28/2022    2/28/2022   4/27/2022  KES 3.75
6  Interim Dividend  1/31/2020    2/28/2020   4/17/2020  KES 3.00
7    Final Dividend  7/26/2019    9/25/2019  10/11/2019  KES 6.00
8  Interim Dividend  1/25/2019    2/22/2019   4/11/2019  KES 2.50
9    Final Dividend  7/27/2018    8/24/2018  10/30/2018  KES 5.50

In [34]:
# Convert columns under interest from object formarts. 
df_dividend['Announced'] = pd.to_datetime(df_dividend['Announced'])

In [35]:
import re 
#Regex function toextract the numbers from the amount in dividends.
def extract_numeric(value):
        if isinstance(value, str):
            match = re.search(r'\d+\.\d+', value)
            if match:
                return float(match.group())
        return value

In [36]:
# Apply the function.
df_dividend['Amount'] = df_dividend['Amount'].apply(extract_numeric)

In [40]:
df_dividend.rename(columns={"Announced":"Date"}, inplace=True)

In [42]:
merge_final = pd.merge(df_merge2, df_dividend[['Date','Amount']], on=['Date'], how='left')
merge_final.to_csv("final_merge.csv")