<div style="padding: 35px;color:white;margin:10;font-size:200%;text-align:center;display:fill;border-radius:10px;overflow:hidden;background-image: url(https://images.pexels.com/photos/7078619/pexels-photo-7078619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)"><b><span style='color:black'><strong>EABL STOCK PRICE PREDICTION </strong></span></b> </div>

### <b> <span style='color:#16C2D5'>|</span> Business Objectives</b>
1. Build a robust time series model leveraging market indicators to forecast future EABL stock prices. 
2. Investigate viability of investing in EABL stock prices. 
3. Build an anomally detection system to identify unusual or unexpected patterns in EABL stock prices.

In [1]:
import pandas as pd 
import numpy as np
 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline 

from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.arima_model import ARIMA

In [3]:
import pandas as pd
df = pd.read_csv('Data/EABL-2006-2024_JAN_STOCKS.csv')
df.head()

        Date     Open    High    Low  Close  Average  Volume
0  2024-01-31  104.00  111.00  104.0  110.0   106.00   42000
1  2024-01-30  105.00  105.00  101.0  104.0   104.00   15600
2  2024-01-29  105.00  105.00   99.0  103.5   100.00  596100
3  2024-01-26  116.25  116.25  100.0  100.0   104.50   60500
4  2024-01-25  119.75  120.00  118.0  118.0   118.25    5700